<% include partials/header %>

<div class="container"> <!-- Bootstrap container, adds space on the sides -->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>

            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;"> <!-- the style makes the pictures align well even if they don't have the same heights, the grid adapts to the pictures. It figures out the minimum amount of space needed where we can have everything be on the same line and aligned perfectly -->
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>