<% include partials/header %>

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST"> <!-- action is the app.post("/campgrounds") -->
    <input type="text" name="name" placeholder="name"> <!-- use the name attribute in the route to grab the data from the req.body -->
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/campgrounds">Go Back</a>

<% include partials/footer %>